<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Organic-ness</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/assets/css/bootstrap-responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/assets/css/camera.css" type="text/css" media="screen">
    

    <script type="text/javascript" src="/assets/js/jquery.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/assets/js/superfish.js"></script>
    <script type="text/javascript" src="./assets/js/jquery.ui.totop.js"></script>
    {{!-- <script type="text/javascript" src="/assets/js/camera.js"></script> --}}
    <script type="text/javascript" src="/assets/js/jquery.mobile.customized.min.js"></script>
    <script type="text/javascript" src="/assets/js/results/homepage.js"></script>
    <script type="text/javascript" src="/assets/js/results/farmer.js"></script>
    <script type="text/javascript" src="/assets/js/results/customer.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            /////// icons
            $(".social li").find("a").css({ opacity: 0.6 });
            $(".social li a").hover(function () {
                $(this).stop().animate({ opacity: 1 }, 400, 'easeOutExpo');
            }, function () {
                $(this).stop().animate({ opacity: 0.6 }, 400, 'easeOutExpo');
            });

            // camera
            $('#camera_wrap').camera({
                //thumbnails: true
                autoAdvance: false,
                mobileAutoAdvance: false,
                height: '37%',
                hover: false,
                loader: 'none',
                navigation: false,
                navigationHover: false,
                mobileNavHover: false,
                playPause: false,
                pauseOnClick: false,
                pagination: false,
                time: 7000,
                transPeriod: 1000,
                minHeight: '300px'
            });



        }); //
        $(window).load(function () {
            //

        }); //
    </script>
    <!--[if lt IE 8]>
            <div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"alt=""/></a></div>
        <![endif]-->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
    <![endif]-->
</head>

<body>
    {{{body}}}
</body>

</html>
<script>
    $(document).ready(function () {
        /////// icons
        $(".social li").find("a").css({ opacity: 0.6 });
        $(".social li a").hover(function () {
            $(this).stop().animate({ opacity: 1 }, 400, 'easeOutExpo');
        }, function () {
            $(this).stop().animate({ opacity: 0.6 }, 400, 'easeOutExpo');
        });

        // camera
        $('#camera_wrap').camera({
            //thumbnails: true
            autoAdvance: false,
            mobileAutoAdvance: false,
            height: '37%',
            hover: false,
            loader: 'none',
            navigation: false,
            navigationHover: false,
            mobileNavHover: false,
            playPause: false,
            pauseOnClick: false,
            pagination: false,
            time: 7000,
            transPeriod: 1000,
            minHeight: '300px'
        });



    }); //
    $(window).load(function () {
        //

    }); //
</script>